body{
    font-family: 'Open Sans', sans-serif;
    color: #012a84;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 8vw;
    width: 100%;
    text-align: center;
    padding: 2vw 2vw 0 2vw; 
    margin: 0;
    color: #fff;
    letter-spacing: 7px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align: center;
    padding: 0;
    margin: 0 0 2vh 0;
}

.top {
    font-family: 'Anton', sans-serif;
    /* background-color: #003185; */
    background-color: red;
    width: 100%
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 2vw;
    color:white;
    background-color: #003185;
    margin: 0;
    padding: 0;
}

.banner span {
    width: 30vw;
    padding: 0;
    display: flex;
    align-items: center;
}

img {
    width: 20vw;
    border: none;
}

.counters {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counters > div {
    width: 21vw;
    text-align: center;
    border-style: inset;
    border-color: #739fe9;
    margin: 0 5vw;
}

#sketch-holder {
    padding: 0;
    margin: 0;
}